# Virtual Environment
venv/
env/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables / Secrets
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary Files
*.tmp
*.temp

# Raw / Large Dataset Files
data/raw/
*.zip

# Python Build Files
build/
dist/
*.egg-info/

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/
IPL_Match_Analyzer_Project_Report.pdf